<footer>
  <%= image_tag("logo_white.png") %>
  <p>© 2015. micoly Inc.</p>
  <ul>
    <li>
      <%= link_to "運営会社", root_path %>
    </li>
    <li>
      <%= link_to "お問い合わせ", root_path %>
    </li>
    <li>
      <%= link_to "プライバシーポリシー", root_path %>
    </li>
  </ul>
</footer>
